__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints
.env
.venv
env/
venv/
saved_weights/
montages/
synthetic_glioma/
synthetic_meningioma/
synthetic_notumor/
synthetic_pituitary/
*.mp4
*.pptx
sms-call-internet-mi-2013-11-01.csv
Training/
Testing/
_make_mri_notebook.py
